@import '../../variables.scss';
@mixin absolute {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 56px;
    bottom: 0px;
}

.dropdown {
    padding-bottom: 30px;
    max-width: 1023px;
   // overflow: hidden;
   // position: relative;
    &__menu {
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        .dropdown__title {
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
            color: $text-light-color;
            margin: 0;
        }
        .dropdown__button {
            background-color: $main-color;
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__text {
     //   @include absolute();
        background-color: darken($background-color, 3.5%);
        margin: 0;
        padding: 20px;
        font-size: $font-size-18;
        font-weight: $font-weight-light;
        border-radius: 0 0 5px 5px;
        height: calc(100% - 56px - 40px);
        & p {
            margin: 0;
        }
    }
}