@import '../../variables.scss';

.tags {
    display: flex;
    align-items: center;
    &__tag {
        display: block;
        font-size: $font-size-14;
        font-weight: $font-weight-bold;
        color: $text-light-color;
        margin: 0;
        min-width: 99px;
        background-color: $main-color;
        border-radius: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 2px 8px;
        height: 21px;
    }
}
