/* Modules */
@import './formulaires.css';
@import './modale.css';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
html, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.size-container {
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 38px 0 92px;
	margin: 12px 0 47px;
}

footer {
	display: table-row;
	background-color: #FFF;
}

footer nav {
	display: flex;
	justify-content: flex-end;
	max-width: 1140px;
	margin: auto;
}

footer nav li {
	font-size: 14px;
	font-weight: 300;
	margin: 26px 0 20px;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	padding-top: 2px;
}

h1 > span {
	display: block;
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 6px;
	padding: 1px 0;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	margin-left: 44px;
	font-size: 16px;
	cursor: pointer;
}

#insta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
}

#insta i {
	font-weight: 500;
}

li:hover {
	color: #B1663C;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 0 8.33% 139px;
}

#introduction figure {
	width: 50%;
}

#introduction img {
	width: 100%;
}

#introduction div {
	flex: 1;
	padding-left: 72px;
}

#introduction h2 {
	margin-bottom: 23px;
}

#introduction p {
	margin-bottom: 16px;
	color: #3D3D3D;
	line-height: 16px;
}

#portfolio {
	margin: 0 8.33% 57px;
}

#portfolio h2 {
	text-align: center;
}

#titreProjets {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

/* Boutons des filtre */
	.filtre {
		display: flex;
		justify-content: center;
	}

	.filtre button {
		font-family: 'Syne';
		font-weight: 700;
		font-size: 16px;
		color: #1D6154;
		border: solid 1px #1D6154;
		border-radius: 60px;
		padding: 8px;
		margin: 21px 10px 51px 0;
		background-color: #FFFEF8;
		min-width: 100px;
		cursor: pointer;
	}

	.filtre button:hover {
		background-color: #1D6154;
		color: #FFFFFF;
	}

	.filtreSelect{
		background-color: #1D6154!important; 
		color: #FFFFFF!important; 
	}

/* Galerie d'images */
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 19px;
		grid-row-gap: 18px;
	}

	.gallery img {
		width: 100%;
		height: 407px;
		object-fit: cover;
	}

	figcaption {
		padding-top: 5px;
		font-size: 13px;
	}

/* Modification après login */
	/* Bandeau noir */
		.bandeau {
			display: flex;
			background-color: black;
			height: 59px;
			color: white;
			font-size: 16px;
			font-weight: 400;
			align-items: center;
			justify-content: center;
		}

		.bandeau i {
			margin-right: 10px;
		}

	/* Bouton modifier */
		.titreProjets {
			position: relative;
			left: 53px;
			padding-bottom: 62px;
		}

		.modifProjets {
			margin-left: 31px;
			cursor: pointer;
		}

/* Règle CSS pour afficher ou masquer un élément */
	.inactive {
		display: none;
	}

	.margin {
		margin: 0;
	}

	.gras {
		font-weight: 700;
	}