@import '../../variables.scss';

.rate {
    display: flex;
    justify-content: end;
    height: 24px;
    position: relative;
    bottom: 12px;
    &__star {
       margin: 0 8px;
       &--color {
            filter: $filter-main-color; 
       }
 
    }
    
}
