@import '../../variables.scss';

.host {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 64px;
    &__name {
        font-size: $font-size-18;
        font-weight: $font-weight-normal;
        color: $main-color;
        margin: 0;
        text-align: end;
        width: 200px;
        word-spacing: 200px;
    }
    &__pict {
        height: 64px;
        width: 64px;
        border-radius: 32px;
        margin-left: 10px;
    }
}