@import '../../variables.scss';

.footer {
    display: table-row;
    height: 209px;
    background-color: $footer-background-color;

    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .footer__logo {
            height: 40px;
            padding-top: 66px;
        }
        
        .footer__copyright {
            color: $text-light-color;
            font-size: $font-size-24;
            font-weight: $font-weight-light;
            margin: 0;
            padding-bottom: 29px;
        }
    }
}