@import '../../styles/variables.scss';

.footer {
  display: table-row;
  height: 209px;
  background-color: $footer-background-color;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .footer__logo {
      height: 40px;
      padding-top: 66px;
      filter: $filter-background-color;
    }

    .footer__copyright {
      color: $text-light-color;
      font-size: $font-size-24;
      font-weight: $font-weight-normal;
      padding-bottom: 29px;
      text-align: center;
    }
  }
  @media all and (max-width: 599px) {
    .footer__copyright {
      font-size: $font-size-12;
      padding-bottom: 58px;
      width: 100px;
    }
  }
}
